<h1 id="tableLabel">Settlements</h1>

<p *ngIf="!settlements"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="settlements">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let settlement of settlements">
      <td>{{ settlement.settlementId }}</td>
      <td>{{ settlement.name }} <span *ngIf="settlement.isMain">&nbsp; Main setttlement</span></td>
      <td>
        <button (click)="updateSettlement(settlement)">Update</button>
        <button (click)="deleteSettlement(settlement)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="createSettlement()">Add Settlement</button>

<button (click)="getMainSettlement()">Get main settlement</button>
